.body
{
    background-color: rgb(233, 233, 113);
    margin: auto;
}
.pic{
    margin: 25px 50px 5px 100px;
    height:300px;
    border-radius: 80px;
    
}
.table{
    border: dashed;
}
.color{
    color: rgb(26, 133, 255);
}
.color1{
    color: rgb(14, 240, 210);
}
.table{
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 50px;
   padding-top: 50px;
    
}